//color variables
//primary: darkest grey icons and text
//secondary: lighter grey in the top menu background and the search button
//tertiary: grey borders and outline of the search box
$primary:#333;
$secondary:#f5f5f5;
$tertiary:#ccc;

//primary: blue text, Secondary is medium grey text throughout, and
//tertiary: lightest grey (updated on dates)
$primary-text: #4183c4;
$secondary-text: #666;
$tertiary-text: #888;

$bordercolor: #eee;
$greenbutton: #58a23f;

//mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

//styling
body {
  font-family: helvetica;
  margin: 0;
}

//top menu bar styling
.menubar {
  width: 100%;
  height: 48px;
  margin: 0;
  background-color: $secondary;
  border-bottom: solid 1px #ccc;
}

.menuwrapper {
  width: 980px;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

//leftside image, search bar and nav links
.menuleft {
  position: absolute;

//image (icon font)
  .mega-octicon {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 28px;
    margin-top: 5px;
  }

//nav links
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;

  }

  li {
    display: inline-block;
    padding: 4px 8px;
    margin: 0;
  }

  li:first-child {
    padding-right: 0;
    padding-left: 0;
  }

  a {
    text-decoration: none;
    color: $primary;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
  }

  a:hover {
    color: $primary-text;
  }
}

//leftside search bar
.searchbar {
  input[type=text] {
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 4px 20px 4px 8px;
    @include border-radius (3px);
    width: 330px;
    display: inline-block;
    border: 1px solid $tertiary;
    font-size: 12px;
    margin-top: -2px;
    color: $tertiary;
  }
}

//rightside account info and links
.menuright {
  float: right;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menurtuser {
  display: inline-block;
}

//account info
.menurightuser {
  float: left;
  position: relative;
  margin-top: 3px;

  img {
    height: 20px;
    width: 20px;
    @include border-radius(3px);
  }

  span {
    float: right;
    margin-top: 2px;
    font-size: 12px;
    margin-left: 3px;
    margin-right: 10px;
    padding-top: 2px;
    font-weight: bold;
    color: $primary;
  }

  span:hover {
    color: $primary-text;
  }
}

//account links(icon fonts)
.menurightnav {
  float: right;
  position: relative;

  a {
    text-decoration: none;
    color: $primary;
    font-size: 20px;
  }

  span {
    padding: 4px 8px;
  }

  .mega-octicon {
    font-size: 18px;
  }

  .octicon-plus {
    padding-right: 0;
  }

  .octicon-triangle-down {
    padding-left: 0;
    font-size: 13px;
  }

  a:hover {
    color: $primary-text;
  }
}

//main content styling
.contents {
  width: 980px;
  margin-top: 20px;
  margin-left: 109.5px;
  margin-right: 109.5px;
}

.contentwrapper {
  margin: 0 auto;
}

//sidebar styling
.sidebar {
  width: 230px;
  float: left;
  padding: 0 10px;
}

//container of image and account name
.sidebarfirst {
  border-bottom: 1px solid $tertiary;

  h1 {
    margin-top: 0;
    margin-bottom: 15px;
  }

  img {
    width: 230px;
    height: 230px;
    @include border-radius(6px);
  }

  .mainname {
    display: block;
    font-size: 26px;
    color: $primary;
    width: 100%;
    margin-top: 5px;
  }

  .mainlogin {
    display: block;
    color: $secondary-text;
    font-size: 20px;
    font-weight: 300;
  }
}

//container of location, email and joined on date
.sidebarsecond {
  font-size: 12px;
  color: $primary;
  border-bottom: 1px solid $tertiary;
  padding-left: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;

  ul {
    margin: 0;
  }

  li {
    display: inline-block;
    line-height: 1.4;
  }

  h3 {
    margin: 0;
    display: inline-block;
    margin-left: 10px;
    font-weight: 400;
  }

  .location {
    margin-left: 14px;
  }

  .email a {
    color: $primary-text;
    text-decoration: none;
  }

  .email a:hover {
    text-decoration: underline;
    color: $primary-text;
  }

  span {
    color: $tertiary;
  }

}

//container of follower, starred and following stats
.sidebarthird {
  border-bottom: 1px solid $tertiary;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;

  ul {
    list-style: none;
    display: inline-block;
    padding-left: 0;
    width: 200px;
    margin: 0 auto;
  }

  li {
    display: inline-block;
    width: 33.3%;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: $tertiary-text;

    span {
      font-size: 11px;
      color: $tertiary-text;
      font-weight: 300;
    }

    :hover {
      color: $primary-text;
    }
  }

  .bignumbers {
    display: block;
    font-size: 28px;
    line-height: 1;
    color: $primary-text;
    font-weight: bold;
    text-align: center;
  }
}

//container of linked organizations
.sidebarfourth {
  img {
    height: 42px;
    width: 42px;
    @include border-radius(3px);
    float: left;
  }
}

//feature section (repo list)
.maincontent {
  float: right;
  width: 730px;
}

//feature tabs for contributions, repos and public activity
.maincontentmenu {
  position: relative;
  border-bottom: 1px solid $tertiary;
  margin-left: 10px;
  width: 730px;

  a {
    text-decoration: none;
    color: $primary;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
  }

  li {
    display: inline-block;
    padding: 8px 12px 7px;
  }

  .mega-octicon {
    font-size: 16px;
    color: $primary;
  }

  .menuwords {
    font-size: 14px;
    color: $primary;
  }

  .greybutton {

    div {
      display: inline-block;
      position: absolute;
      right: 0;
      background: $secondary;
      border: $tertiary 1px solid;
      border-radius: 3px;
      font-weight: bold;
      padding: 5px 10px;
      font-size: 12px;
      color: $primary;
    }

    a {
      text-decoration: none;
    }

    div:hover {
      background: $tertiary;
    }
  }
}

//feature search bar and sorting links
.maincontentsearch {
  margin-top: 8px;
  margin-left: 10px;
  width: 730px;
  padding-bottom: 5px;
  border-bottom: 1px solid $tertiary;

  form {
    display: inline-block;
  }

  .mega-octicon {
    font-size: 16px;
    color: $primary;
  }

  input[type=text] {
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 4px 20px 4px 8px;
    @include border-radius (3px);
    width: 230px;
    height: 26px;
    display: inline-block;
    border: 1px solid $tertiary;
    font-size: 12px;
    color: $tertiary;
  }

  ul {
    margin-left: 20px;
  }

  ul,
  li {
    list-style: none;
    display: inline-block;
    padding-left: 0;
  }

  li {
    margin-right: 7px;
  }

  .greybutton {

    div {
      display: inline-block;
      height: 26px;
      width: 70px;
      background: $secondary;
      border: $tertiary 1px solid;
      border-radius: 3px;
      font-weight: bold;
      font-size: 14px;
      text-align: center;
      vertical-align: middle;
      margin-left: 3px;
      padding-top: 8px;
      color: $primary;
    }

    a {
      text-decoration: none;
    }

    div:hover {
      background: $tertiary;
    }
  }

  .greenbutton {
    width: 46px;
    height: 18px;
    float: right;
    background-image: -webkit-linear-gradient(#8add6d, #60b044);
    background-image: -o-linear-gradient(#8add6d, #60b044);
    background-image: linear-gradient(#8add6d, #60b044);
    @include border-radius(3px);
    padding: 7px 12px;
    margin-left: 2px;
    margin-top: 5px;
  }

  a {
    text-decoration: none;
    font-family: helvetica;
    font-size: 14px;
    color: $primary-text;
  }

  .octicon {
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    text-align: center;
  }
}

//repository listing
.maincontentfeature {
  float: left;
  margin-left: 10px;
  width: 100%;
  margin-bottom: 40px;

  .repoinfo {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid $tertiary;
    list-style: none;
    padding-left: 0;

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
      color: $primary-text;
    }
  }

  .reponame {
    color: $primary-text;
    font-size: 20px;
    margin: 0 0 8px;
  }

  .repodescription {
    color: $primary;
    font-size: 14px;
    margin: 0 0 8px;
  }

  .repodate {
    color: $tertiary-text;
    font-size: 13px;
    margin: 0;
  }
}

.repodetails {
  float: right;
  padding-left: 0;
  padding-top: 30px;
  list-style: none;
  margin: 0;

  li {
    color: $tertiary-text;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
  }

  a {
    color: $tertiary-text;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
  }

  .octicon {
    color: $tertiary-text;
    margin-left: 8px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
  }
}

//footer styling
.mainfooter {
  height: 98px;
  clear: both;
  margin-top: 40px;

  ul {
    list-style: none;
    padding-left: 0;
  }
}

.footerwrap {
  width: 980px;
  height: 98px;
  margin: 0 auto;
  border-top: 1px solid $tertiary;

//center icon
  .octicon {
    color: $tertiary;
    text-decoration: none;
    position: absolute;
    left: 50%;
    font-size: 24px;
    padding-top: 40px;
    margin-left: -12px;
  }

  .octicon:hover {
    color: $secondary-text;
  }
}

//leftside links
.leftfooter {
  float: left;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 0;
  margin-bottom: 0;

  li {
    display: inline-block;
    font-size: 12px;
    margin-left: 10px;
    color: $tertiary-text;
  }

  a {
    text-decoration: none;
    font-size: 12px;
    color: $primary-text;
  }

  a:hover {
    text-decoration: underline;
    color: $primary-text;
  }
}

//rightside nav links
.rightfooter {
  float: right;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 40px;
  padding-top: 40px;

  li {
    display: inline-block;
    margin-left: 10px;
  }

  a {
    color: $primary-text;
    font-size: 12px;
    text-decoration: none;
  }

  a:hover {
    color: $primary-text;
    text-decoration: underline;
  }
}
