<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
<!-- CSS Link-->
<link href="dist/styles/main.css" rel="stylesheet" type="text/stylesheet">
<!-- Icon Font Link-->
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">
</head>
<body>
<!-- Top Menu Bar Section-->
<div class="overallWrapper">
  <div class="menuBar">
    <div class="menuWrapper">
      <div class="menuLeft">
      </div>
      <div class="menuRight">
        <div class="menuRightNav">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contents Section-->
<div class="contents">
  <!--   Side Bar Section-->
  <div class="sideBar">

  </div>
<!-- Main Content Section-->
  <div class="mainContent">
    <div class="mainContentMenu">
    </div>
    <div class="mainContentFeature">

    </div>
  </div>
 </div>

<!-- Template Scripts Starts Here-->
<!-- Top Menu Bar Script -->
<script id="templateMenuBar" type="text/template">
    <div class="menuRightUser">
      <img src = "<%= avatarUrl %>"/>
      <span><%= login %></span>
    </div>
</script>

<!-- Main Content Feature (List of Repos) Script -->
<script id="templateMainContent" type="text/template">
    <div class="repoInfo">
      <h1 class="repoName"><%= repoName %></h1>
      <p class="repoDescription"><%= repoDescription %></p>
      <p><%= updated %></p>
    </div>
</script>

<!-- SideBar Script -->
<script id="templateSideBar" type="text/template">
    <div class="sideBarFirst">
      <img src = "<%= avatarUrl %>"/>
      <h1>
      <span class="mainName"><%= name %></span>
      <span class="mainLogin"><%= login %></span>
      </h1>
    </div>
    <div class="sideBarSecond">
      <h3><%= location %></h3>
      <h3><a href="mailto:slkennedy@gmail.com"><%= email %></a></h3>
      <h3><%= created_at %></h3>
    </div>
    <div class="sideBarThird">
      <ul>
        <li>
          <a href="<%= followersUrl %>">
            <span class="bigNumbers"><%= followers %></span>
            <span>Followers</span>
          </a>
        </li>
        <li>
          <a href="<%= followersUrl %>">
            <span class="bigNumbers"></span>
            <span>Starred</span>
          </a>
        </li>
        <li>
          <a href="<%= followingUrl %>"
            <span class="bigNumbers"><%= following %></span>
            <span>Following</span>
          </a>
        </li>
      </ul>
    </div>
</script>
<script id="templateSideBarOrgs" type="text/template">
    <div class="sideBarFourth">
      <h3>Organizations</h3>
      <a href ="<%= orgUrl %>">
        <img src="<%= orgAvatar %>"/>
      </a>
    </div>
</script>

<!-- Script Links-->
 <script src = "http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
  <script src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src = "http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.js"></script>
  <script src="javascript/main.js"></script>
</body>
</html>
