<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
<!-- CSS Link-->
<link href="dist/styles/main.css" rel="stylesheet" type="text/stylesheet">
<!-- Icon Font Link-->
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">
</head>
<body>
<!-- HTML -->
<!-- Top Menu Bar Section-->
<div class="menubar">
  <div class="menuwrapper">
    <div class="menuleft">
<!-- Search bar and list of links on the left of the top menu-->
      <ul>
        <li>
          <a href="https://github.com/">
            <span class="mega-octicon octicon-mark-github"></span>
          </a>
        </li>
        <li>
          <form class=searchbar>
            <input type="text" placeholder="Search GitHub">
          </form>
        </li>
        <li>
          <a href="https://github.com/explore">Explore</a>
        </li>
        <li>
          <a href="https://gist.github.com/">Gist</a>
        </li>
        <li>
          <a href="https://github.com/blog">Blog</a>
        </li>
        <li>
          <a href="https://help.github.com/">Help</a>
        </li>
      </ul>
    </div>
    <div class="menuright">
      <div class= "menurtuser">
      </div>
      <div class="menurightnav">
        <a href="https://github.com/new">
          <span class="mega-octicon octicon-plus"></span>
            <span class="octicon octicon-triangle-down"></span>
        </a>
        <a href="https://github.com/notifications">
          <span class="mega-octicon octicon-inbox"></span>
        </a>
        <a href="https://github.com/settings/profile">
          <span class="mega-octicon octicon-gear"></span>
        </a>
        <a href="#">
          <span class="mega-octicon octicon-sign-out"></span>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- Contents Section-->
<div class="contents">
  <div class="contentwrapper">
<!--   Side Bar Section-->
    <div class="sidebar">
      <div class="sidebartop">
      </div>
      <div class="sidebarbottom">
        <h3>Organizations</h3>
      </div>
    </div>
<!-- Main Content Section-->
    <div class="maincontent">
      <div class="maincontentmenu">
        <ul>
          <li>
            <a class = "tabnav" href ="#">
              <span class="mega-octicon octicon-diff-added"></span>
              <span class="menuWords">Contributions</span>
            </a>
          </li>
          <li>
            <a class = "tabnav" href ="#">
              <span class="mega-octicon octicon-repo"></span>
              <span class="menuWords">Repositories</span>
            </a>
          </li>
          <li>
            <a class = "tabnav" href ="#">
              <span class="mega-octicon octicon-rss"></span>
              <span class="menuWords">Public activity</span>
            </a>
          </li>
        </ul>
        <a class="greybutton" href="#">
          <div>
            <span class="mega-octicon octicon-pencil"></span>
            <span>Edit profile</span>
          </div>
        </a>
      </div>
      <div class="maincontentsearch">
        <form>
          <input type="text" placeholder="Find a repository...">
        </form>
        <a class="greybutton" href="#">
          <div class="greybutton">
            <span>Search</span>
          </div>
        </a>
        <ul class="contentsort">
          <li>
            <a href="#">
              <span>All</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Public</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Private</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Sources</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Forks</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Mirrors</span>
            </a>
          </li>
        </ul>
        <a href="https://github.com/repositories/new">
          <div class="greenbutton">
            <span class="octicon octicon-repo"> New</span>
          </div>
        </a>
      </div>
      <div class="maincontentfeature">
      </div>
    </div>
  </div>
</div>

<footer class="mainfooter">
  <div class="footerwrap">
    <ul class="leftfooter">
      <li>
        &copy; 2014 GitHub, Inc.
      </li>
      <li>
        <a href="https://github.com/site/terms">Terms</a>
      </li>
      <li>
        <a href="https://github.com/site/privacy">Privacy</a>
      </li>
      <li>
        <a href="https://github.com/security">Security</a>
      </li>
      <li>
        <a href="https://github.com/contact">Contact</a>
      </li>
    </ul>
    <a href = "https://github.com/">
      <span class="octicon octicon-mark-github"></span>
    </a>
    <ul class="rightfooter">
      <li>
        <a href="https://status.github.com/">Status</a>
      </li>
      <li>
        <a href="http://developer.github.com/">API</a>
      </li>
      <li>
        <a href="http://training.github.com/">Training</a>
      </li>
      <li>
        <a href="http://shop.github.com/">Shop</a>
      </li>
      <li>
        <a href="https://github.com/blog">Blog</a>
      </li>
      <li>
        <a href="https://github.com/about">About</a>
      </li>
    </ul>
  </div>
</footer>

<!-- SCRIPTS: Template Scripts Starts Here-->
<!-- Top Menu Bar Script -->
<script id="templateMenuBar" type="text/template">
  <div class="menurightuser">
    <img src = "<%= avatarUrl %>"/>
    <span><%= login %></span>
  </div>
</script>

<!-- Main Content Feature (List of Repos) Script -->
<script id="templateMainContent" type="text/template">
  <ul class = "repodetails">
    <li>
      <%= language %>
    </li>
    <li>
      <span class="octicon octicon-star"></span>
      <a href="<%= stargazersUrl %>"><%= stargazersCount %></a>
    </li>
    <li>
      <span class="octicon octicon-git-branch"></span>
      <a href="<%= forksUrl %>"><%= forks %></a>
    </li>
  </ul>
  <ul class="repoinfo">
    <li>
      <a href="<%= repoUrl %>"><h1 class="reponame"><%= repoName %></h1></a>
    </li>
    <li>
      <p class="repodescription"><%= repoDescription %></p>
    </li>
    <li>
      <p class="repodate">Updated <%= updated %></p>
    </li>
  </ul>
</script>

<!-- SideBar Script -->
<script id="templateSideBar" type="text/template">
  <div class="sidebarfirst">
    <img src = "<%= avatarUrl %>"/>
    <h1>
      <span class="mainname"><%= name %></span>
      <span class="mainlogin"><%= login %></span>
    </h1>
  </div>
  <ul class="sidebarsecond">
    <li>
      <span class="octicon octicon-location"></span>
      <h3><%= location %></h3>
    </li>
    <li>
      <span class="octicon octicon-mail"></span>
      <h3 class="email">
        <a href="mailto:slkennedy@gmail.com"><%= email %></a>
      </h3>
    </li>
    <li>
      <span class="octicon octicon-clock"></span>
      <h3>Joined on <%= created_at %></h3>
    </li>
  </ul>
  <div class="sidebarthird">
    <ul>
      <li>
        <a href="<%= followersUrl %>">
          <span class="bignumbers"><%= followers %></span>
          <span>Followers</span>
        </a>
      </li><li>
        <a href="<%= followersUrl %>">
          <span class="bignumbers"><%= followers %></span>
          <span>Starred</span>
        </a>
      </li><li>
        <a href="<%=followingUrl%>">
          <span class="bignumbers"><%= following %></span>
          <span>Following</span>
        </a>
      </li>
    </ul>
  </div>
</script>

<script id="templateSideBarOrgs" type="text/template">
  <div class="sidebarfourth">
    <a href ="<%= orgUrl %>">
      <img src="<%= orgAvatar %>"/>
    </a>
  </div>
</script>

<!-- Script Links-->
 <script src = "http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src = "http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.js"></script>
<script src="javascript/token.js"></script>
<script src="javascript/main.js"></script>
  </body>
</html>
